body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.mainContainer {
    top: 56px;
    position: sticky !important;
    display: flex;
}

.allContainer {
    flex: 5;
    /* overflow-y: scroll !important; */
}

.adminimg {
    width: 50px;
    height: 30px;
}

.sidebar {
    flex: 1;
    margin: 0;
    padding: 0;
    width: 200px;
    top: 82px;
    background-color: #f1f1f1;
    height: calc(100vh - 82px);
    position: sticky !important;
    overflow: auto;
}

nav {
    top: 0;
    position: sticky !important;
    z-index: 10;
}

.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}

.sidebar a.active {
    background-color: #04aa6d;
    color: white;
}

.sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
}

div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
}

@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    .sidebar a {
        float: left;
    }
    div.content {
        margin-left: 0;
    }
}

@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}